body {
    background-color: #ff004c;
    color: rgb(0, 102, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: ; 0; 
}

button { 
    background-color:#00b7ff
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
     display: none:
}